html {
    height: 99%;
    border-top: 1px solid #572e2e;

    /*
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.8);*/
}
* {
    transition: all 0.15s;
}
.nav {
    box-shadow:  0px 0px 5px #541919;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 2px solid #572e2e;
    background-color: #392825b6;
}

.nav h3 {
    margin: 3px 0px 0px 3px;
    padding: 5px 10px;
    color: #d2bb80
}

.nav h3 i {
    font-style: normal;
    padding-left: 10px;
    color: #d2bb80;
}

.clear {
    clear: both;
    height: 15px;
}

.clear-s {
    clear: both;
    height: 5px;
}

.nav a {
    float: left;
    width: 130px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: none;
    color: #d2bb80;
}

.nav a i {
    font-style: normal;
    color: #fff;
    position: relative;
    padding: 1px 3px;
}

.sc {
    margin-bottom: 15px;
    border-radius: 20px;
    text-align: center;
}


.container {
    position: relative;
    max-width: 720px;
    margin: 0px auto 0px;
    min-height: 100%;
    /*background-color: #392825b6;*/
    padding: 0% 1%;
    text-align: center;
    /*border-radius: 25px;*/
}

ul {
    padding-left: 20px;
}

ul li {
    line-height: 2.3
}

a {
    color: #f9e1c7
}

#search-box {
    box-shadow:  0px 0px 5px #541919;
    max-width: 350px;
    height: 40px;
    text-align: center;
    border: 2px solid #572e2e;
    background-color: #392825b6;
    border-radius: 5px;
    box-sizing: border-box;
    text-indent: 10px;
    border-radius: 20px;
    margin: -1 auto -1;
    
  }

.user-input {
    max-width: 72%;
    height: 35px;
    text-align: center;
    border: 2px solid #572e2e00;
    outline: none;
    background-color: #39282500;
    color: #d2bb80;
    line-height: 28px \9;
    padding: 0 8px
}

.user-input::placeholder{
    color: #bba690;}


.user-btn {
    max-width: 15%;
    height: 35px;
    border: 2px solid #39282500;
    vertical-align: middle;
    outline: none;
    background-color: #39282500;
    color: #d2bb80;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
}


div.sc div a {
    background-color: #d2bb80b6;
    box-shadow:  0px 0px 5px #541919;
    color: black;
    padding: 0px 9px;
    border-radius: 25px;
    text-align: center;
    font-size: 32px;
}

div.sc div a.active {
    background-color: #b61b00b6;
    border: 2px solid #572e2e;
    color: white;
    border-radius: 30px;
}

div.sc div a:hover:not(.active) {
    border: 2px solid #572e2e;
}

.chose {
    padding-bottom: 0;
}

body {
    height: 100%;
    overflow:hidden;
    background-color:#572e2e;
    background-image: url('https://fystart.com/background.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    font-size: 100%;
    font-family: sans-serif;
}


.pcon {
    display: block;
}

.mbon {
    display: none
}

#timer {
    color: #d2bb80;
    font-size: 25px;
    margin: 0px auto 5px;
    font-weight:100;
    font-family:'simhei', '微软雅黑', monospace
}

div.container h1 {
    margin: 0px auto 10px;
}

#word {
    position: absolute;
    list-style: none;
    left: 5%;
    right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    border: 2px solid #572e2e;
    background-color: #392825b6;
    border-radius: 20px;
    box-shadow: 0 0 10px #572e2e;
}

#word li {
    width: 100%;
    padding-top: 5px;
    height: 30px;
    background-size: 20px;
    line-height: 25px;
    cursor: pointer;
    font-size: 18px;
    color: #f9e1c7;
}

#word li:hover {
    color: #cdba89;
    background-color: #572e2e7f;
}

.foot {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-bottom: 5px;
    border-radius: 20px;/*
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    background-color: #392825b6;
    max-width: 720px;*/
    color:#fff;
    margin-top: 0px;
}
.yiyan:hover span#fromwho{
    display:inline
}
span#fromwho{
    display: none;
}
.wg {
    margin-bottom: 15px;
    max-width: 20;
    max-height: 200;
}



#he-plugin-standard {
    padding: 4px !important;
    margin: auto;
}

.wv-v-h-row {
    animation: FadeInAnimation 0.5s ease-in-out;
}

.wv-lt-location a {
    margin-left: 4px !important;
    color: #ffffff9c !important;
    background: rgba(88, 166, 255, 0.2) !important;
    border-radius: 4px !important;
    padding: 2px 4px !important;
    text-decoration: none !important;
    cursor: pointer;
    transition: 0.25s !important;
}

.wv-lt-location a:hover {
    background: rgba(88, 166, 255, 0.3) !important;
}

.wv-lt-refresh a {
    color: #8bbff8!important;
    cursor: pointer !important;
    transition: 0.25s !important;
}

.wv-lt-refresh a:hover {
    color: #ffffff !important;
}

.wv-top-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: FadeInAnimation 0.5s ease-in-out;
}

.wv-top-col-12 select.wv-top-select {
    width: 74px;
    height: 32px;
    border: 0;
    border-radius: 4px !important;
    padding: 2px 10px !important;
    margin: 2px 0 !important;
    background: var(--color-background);
    color: #572e2e;
    font-size: 14px;
    font-family: var(--fonts);
    transition: 0.25s;
}

.wv-top-col-12 select.wv-top-select:hover {
    color: #fff;
}

.wv-top-col-12 select.wv-top-select option {
    background: var(--color-background);
    color: #555;
    font-size: 14px;
    font-family: var(--fonts);
    transition: 0.25s;
}

.wv-top-col-12 button.wv-top-button {
    min-width: 56px;
    height: 32px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 0 8px;
    margin-top: 8px;
    background: var(--color-background);
    color: #572e2e;
    font-size: 14px;
    font-family: var(--fonts);
    transition: 0.25s;
    cursor: pointer;
}

.wv-top-col-12 button.wv-top-button:hover {
    color: #fff;
    border-color: var(--color-border-hover);
}
.card {
    color: #fff;
    background: #392825b6;
    flex-direction: column;
    margin:5px;
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    border-radius: 20px;
    width: 220px;
    height: 170px;
    transition: .3s;
    overflow: hidden;
    text-align: center;
    font-family: var(--fonts-cn);
    user-select: none;
    display: inline-block;
  }
.card-weather {
    margin:5px;
    color: #fff;
    background-color: #313a44c5;
    flex-direction: column;
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    border-radius: 20px;
    width: 220px;
    height: 180px;
    transition: .3s;
    overflow: hidden;
    text-align: center;
    font-family: var(--fonts-cn);
    user-select: none;
    display: inline-block;
    margin-top: 0px;
  }
.card-zkdjs {
    padding-left: 5px;
    padding-top: 25px;
    padding-right: 5px;
    padding-bottom:5px;
    width:210px;
    height:150px;
    color: #fff;
    background-color: #ff0000c5;
    flex-direction: column;
    margin:5px;
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    border-radius: 20px;
    transition: .3s;
    overflow: hidden;
    text-align: center;
    font-family: var(--fonts-cn);
    user-select: none;
    display: inline-block;
    margin-top: 0px;
  }

.card {
    color: #fff;
    background: #392825b6;
    flex-direction: column;
    margin:5px;
    margin-top: 0px;
    padding-top: 5px;
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    border-radius: 20px;
    width: 220px;
    height: 175px;
    transition: .3s;
    overflow: hidden;
    text-align: center;
    font-family: var(--fonts-cn);
    user-select: none;
    display: inline-block;
  }

.countdown{
    display: flex;
    margin-top: 5px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding: 5px 5px 5px;
    max-width: 210px;
    border: 2px solid #ffff00;
}
#countdown1{
    display: none;
    padding-left: 10px;
}
.countdown div{
    color: #ffff00;
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 50.0px;
    text-align: center;
    margin-right: 10px;
    font-size: 35px;
    font-weight: 50.0;
}
.countdown div:before{
    color: #ffff00;
    content: '';
    position: absolute;
    bottom: 0.7px;
    left: 0;
    width: 100%;
    height: 16px;
    font-size: 10px;
    line-height: 13px;
    font-weight: 30.0;
}

#day:before{
    content: '日';
}
#hour:before{
    content: '时';
}
#minute:before{
    content: '分';
}
#second:before{
    content: '秒';
}
#day1:before{
    content: '日';
}
#hour1:before{
    content: '时';
}
#minute1:before{
    content: '分';
}
#second1:before{
    content: '秒';
}


.search-container{
    width: 80%;
    height: 30px;
    border: 2px solid #572e2e;
    background-color: #392825b6;
    color: #d2bb80;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    text-indent: 10px;
    border-radius: 15px;
}
.search-container::placeholder{
    color: #bba690;}
    
.gptarea{
    font-family: sans-serif;
    resize: none;
    background-color: #39282500;
    border: 2px solid #39282500;
    color: #f9e1c7;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    text-indent: 10px;
}
.gptarea::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}
.gptarea::-webkit-scrollbar-thumb {
   border-radius: 3px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     background-color: #d2bb80;
}
.gptarea::-webkit-scrollbar-track {
   background-color: transparent;
}
.gptarea::placeholder{
    color: #f9e1c7;
}
@media only screen and (max-width: 725px) {
    .card{width: 85%;height:270px}
    .card-weather{width: 85%;}
    .card-zkdjs{width:calc(85% - 10px);}
    .gptarea{height: 210px;width: 96%;}
    .scspace{display: block;}
    #search-box{max-width:85%;}
    #wg{height:287px;}
}

@media only screen and (min-width: 725px) {
    .card{width: 220px;height: 170;}
    .card-weather{width: 220px;}
    .card-zkdjs{width: 210px;}
    .gptarea{height: 120px;width: 210px;}
    .scspace{display: none;}
    #search-box{max-width:350px;}
    #wg{height:195px;}
}


.shadow_css {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #572e2ee1 ;
    z-index: 10;
  }
  
.window_css {
    color:#f9e1c7;
    display: none;
    position: absolute;
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    border-radius: 20px;
    background-color: #f9e1c762;
    position: absolute;
    padding: 26px 0;
    border: 0;
    top: 50%;
    left: 50%;
    transition: .5s;
    transform: translate(-50%,-50%);
    width: calc(100% - 52px);
    height: min(80%,540px);
    border-radius: 20px;
    max-width: 640px;
    z-index: 64;}

.setting{
    position: absolute;
    cursor: pointer;
    padding: 6px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    fill: #fff;
    background: rgba(0,0,0,.2);
    top: 26px;
    right: 26px;
    transition: .25s;
    z-index: 2;
}

input[type='checkbox'].switch{
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 60px;
    height: 30px;
    background: #392825b6;
    border-radius: 15px;
    transition: border-color .3s, background-color .3s;
}

input[type='checkbox'].switch::after {
    content: '';
    display: inline-block;
    width: 26px;
    height:26px;
    border-radius: 50%;
    background: #f9e1c7;
    transition:.4s;
    top: 2px;
    position: absolute;
    left: 2px;
}

input[type='checkbox'].switch:checked {
    background: rgb(19, 206, 102);
}
/* 当input[type=checkbox]被选中时：伪元素显示下面样式 位置发生变化 */
input[type='checkbox'].switch:checked::after {
    content: '';
    position: absolute;
    left: 55%;
    top: 2px;
}
.wg{
    display: none; 
    overflow:auto; 
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.wg::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }