html {
    height: 100%;
}
.nav {
    box-shadow:  0px 0px 5px #541919;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 2px solid #572e2e;
    background-color: #392825b6;
}

.nav h3 {
    margin: 3px 0px 0px 3px;
    padding: 5px 10px;
    color: #d2bb80
}

.nav h3 i {
    font-style: normal;
    padding-left: 10px;
    color: #d2bb80;
}

.clear {
    clear: both;
    height: 15px;
}

.clear-s {
    clear: both;
    height: 5px;
}

.nav a {
    float: left;
    width: 130px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: none;
    color: #d2bb80;
}

.nav a i {
    font-style: normal;
    color: #fff;
    position: relative;
    padding: 1px 3px;
}

.sc {
    margin-bottom: 15px;
    border-radius: 20px;
    text-align: center;
}

.container {
    position: relative;
    max-width: 720px;
    margin: 0px auto 0px;
    min-height: 100%;
    /*background-color: #392825b6;*/
    padding: 0% 1%;
    text-align: center;
    /*border-radius: 25px;*/
}

ul {
    padding-left: 20px;
}

ul li {
    line-height: 2.3
}

a {
    color: #f9e1c7
}

.user-input {
    box-shadow:  0px 0px 5px #541919;
    width: 80%;
    height: 40px;
    border: 2px solid #572e2e;
    background-color: #392825b6;
    color: #d2bb80;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    text-indent: 10px;
    border-radius: 20px;
}

.user-btn {
    box-shadow:  0px 0px 5px #541919;
    max-width: 80px;
    height: 40px;
    border: 2px solid #572e2e;
    vertical-align: middle;
    outline: none;
    background-color: #392825b6;
    color: #d2bb80;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
}

div.sc div a {
    background-color: #d2bb80b6;
    box-shadow:  0px 0px 5px #541919;
    color: black;
    padding: 0px 9px;
    border-radius: 25px;
    text-align: center;
    font-size: 32px;
}

div.sc div a.active {
    background-color: #b61b00b6;
    border: 2px solid #572e2e;
    color: white;
    border-radius: 30px;
}

div.sc div a:hover:not(.active) {
    border: 2px solid #572e2e;
}

.chose {
    padding-bottom: 0;
}

body {
    height: 100%;
    background-image: url('https://fystart.com/background.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    font-size: 100%;
    font-family: sans-serif;
}


.pcon {
    display: block;
}

.mbon {
    display: none
}

@media only screen and (max-width: 600px) {
    .pcon {
        display: none;
    }
    .mbon {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .pcon {
        display: block;
    }
    .mbon {
        display: none;
    }
}

#timer {
    color: #d2bb80;
    font-size: 25px;
    margin: 0px auto 5px;
    padding-top: 10%;
    padding-bottom: 3%;
    font-weight:100;
    font-family:'simhei', '微软雅黑', monospace
}

div.container h1 {
    margin: 0px auto 10px;
}

#word {
    position: absolute;
    list-style: none;
    left: 5%;
    right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    border: 2px solid #572e2e;
    background-color: #392825b6;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px #572e2e;
}

#word li {
    height: 35px;
    padding: 0px auto 0px;
    text-indent: 30px;
    background: url(../img/sou.svg) no-repeat 5px;
    background-size: 20px;
    line-height: 25px;
    cursor: pointer;
    font-size: 18px;
    color: #f9e1c7;
    border-radius: 20px;
}

#word li:hover {
    color: #cdba89;
    background-color: #572e2e7f;
}

.pagination {
    border: 2px solid #572e2e;
    padding: 15px auto 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: #392825b6;
    opacity: 0.7;
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    text-align: left;
    top: 10px;
    left: 10px;
    z-index: 999999999999999999999;
}

#openedmulu p a {
    padding: 0px 0px 0px 0px;
    color: #fff;
}
.foot {
    z-index: -999999999999;
    margin: 0% 1%;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-bottom: 5px;
    border-radius: 20px;/*
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    background-color: #392825b6;
    max-width: 720px;*/
    color:#fff;
}
.yiyan:hover span#fromwho{
    display:inline
}
span#fromwho{
    display: none;
}
.wg {
    margin-bottom: 15px;
    max-width: 20;
    max-height: 200;
}
/*
.wg h3 {
    margin: 3px 0px 0px 3px;
    padding: 5px 10px;
    color: #d2bb80
}

.wg p {
    margin: 3px 0px 0px 3px;
    padding: 5px 10px;
    color: #d2bb80
}*/



#he-plugin-standard {
    padding: 4px !important;
}

.wv-v-h-row {
    animation: FadeInAnimation 0.5s ease-in-out;
}

.wv-lt-location a {
    margin-left: 4px !important;
    color: #ffffff9c !important;
    background: rgba(88, 166, 255, 0.2) !important;
    border-radius: 4px !important;
    padding: 2px 4px !important;
    text-decoration: none !important;
    cursor: pointer;
    transition: 0.25s !important;
}

.wv-lt-location a:hover {
    background: rgba(88, 166, 255, 0.3) !important;
}

.wv-lt-refresh a {
    color: #ffffff9c !important;
    cursor: pointer !important;
    transition: 0.25s !important;
}

.wv-lt-refresh a:hover {
    color: #ffffff !important;
}

.wv-top-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: FadeInAnimation 0.5s ease-in-out;
}

.wv-top-col-12 select.wv-top-select {
    width: 74px;
    height: 32px;
    border: 0;
    border-radius: 4px !important;
    padding: 2px 10px !important;
    margin: 2px 0 !important;
    background: var(--color-background);
    color: #572e2e;
    font-size: 14px;
    font-family: var(--fonts);
    transition: 0.25s;
}

.wv-top-col-12 select.wv-top-select:hover {
    color: #fff;
}

.wv-top-col-12 select.wv-top-select option {
    background: var(--color-background);
    color: #555;
    font-size: 14px;
    font-family: var(--fonts);
    transition: 0.25s;
}

.wv-top-col-12 button.wv-top-button {
    min-width: 56px;
    height: 32px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 0 8px;
    margin-top: 8px;
    background: var(--color-background);
    color: #572e2e;
    font-size: 14px;
    font-family: var(--fonts);
    transition: 0.25s;
    cursor: pointer;
}

.wv-top-col-12 button.wv-top-button:hover {
    color: #fff;
    border-color: var(--color-border-hover);
}
.card {
    color: #fff;
    background: #392825b6;
    flex-direction: column;
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    border-radius: 20px;
    width: 220px;
    height: 180px;
    transition: .3s;
    overflow: hidden;
    text-align: center;
    font-family: var(--fonts-cn);
    user-select: none;
    display: inline-block;
  }
.card-weather {
    background: #392825b6;
    color: #fff;
    flex-direction: column;
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    border-radius: 20px;
    width: 220px;
    height: 180px;
    transition: .3s;
    overflow: hidden;
    text-align: center;
    font-family: var(--fonts-cn);
    user-select: none;
    display: inline-block;
  }
.card-zkdjs {
    color: #fff;
    background: #ff0000c5; 
    background-size: contain;  
    background-position: center;  
    flex-direction: column;
    box-shadow:  0px 0px 5px #541919;
    border: 2px solid #572e2e;
    border-radius: 20px;
    width: 220px;
    height: 180px;
    transition: .3s;
    overflow: hidden;
    text-align: center;
    font-family: var(--fonts-cn);
    user-select: none;
    display: inline-block;
  }


.countdown{
    display: flex;
    margin-top: 5px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding: 5px auto 5px;
    border: 2px solid #ffff00;
}
.countdown div{
    color: #ffff00;
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 50.0px;
    text-align: center;
    /*border: 2px solid #572e2e;*/
    margin-right: 10px;
    font-size: 35px;
    font-weight: 50.0;
}
.countdown div:before{
    color: #ffff00;
    content: '';
    position: absolute;
    bottom: 0.7px;
    left: 0;
    width: 100%;
    height: 16px;
    font-size: 10px;
    line-height: 13px;
    font-weight: 30.0;
}

#day:before{
    content: '日';
}
#hour:before{
    content: '时';
}
#minute:before{
    content: '分';
}
#second:before{
    content: '秒';
}